@import '../../index.scss';

#card-top{
@include cardFormato;
  padding: 30px 35px;
  border-bottom: 3px dashed var(--dark-main); 
}

h1{
  color: var(--main-color);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
  font-size: 2.5vw;
  text-align: center;
 
  margin-bottom: 10vh;
}

#facebook{
  text-decoration: none;

  margin-bottom: 3vh;
}

#logo2 {
  display: none;
}

#facebook button{
  width: 25vw;
  height: 3rem;

  border-radius: 30px;
  border: none;

  display: flex;
  flex-direction: row;
  gap: 2vw;

  font-size: 1rem;
  color: white;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
 

  justify-content: center;
  align-items: center;
  
  background-color: #1977f3;
  transition: 0.5s;
}

#facebook button:hover{
  cursor: pointer;
  transform: scale(1.02);
  transition: 0.5s;
}

#facebook button:active{
  cursor: pointer;
  transform: scale(1.02);
}

#facebook img{
  margin-left: 10px;
  width: 2rem;
}

#google{
  text-decoration: none;
}

#google button{
  width: 25vw;
  height: 3rem;

  border-radius: 30px;
  border: 1px solid black;

  display: flex;
  flex-direction: row;
  gap: 2vw;

  font-size: 1rem;
  color: rgb(100, 100, 100);
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  
  justify-content: center;
  align-items: center;

  margin-bottom: 5vh;
  
  background-color: #ffffff;
  transition: 0.5s;
}

#google img{
  width: 1.8rem;
}

#google button:hover{
  cursor: pointer;
  transform: scale(1.02);
  transition: 0.5s;
}

#google button:active{
  cursor: pointer;
  transform: scale(1.02);
  background-color: #e9e9e9;
}

@media only screen and (max-width: 950px){
  
  #card-top{
    height: auto;
    width: 90vw;
  
    padding: 5px;
  }

  h1{
    font-size: 2.5rem;
    margin-bottom: 5vh;
  }

  #facebook button{
    width: 50vw;
  }

  #google button{
    width: 50vw;
  }
}

@media only screen and (max-width: 600px) {
  #card-top{
    height: auto;
    width: 90vw;
  
    padding: 0px 0px;
  }

  h1{
    font-size: 1.7rem;
    margin-bottom: 5vh;
  }

  #facebook button{
    width: 66vw;
  }
  
  #google button{
    width: 66vw;
  }
}