.headerHomeVermelho {
  width: 100vw;
  height: 13vh;

  display: flex;
  flex-direction: row;
  border: none;
  justify-content: left;
  align-items: left;

  padding-inline: 3vw;
  background-color: var(--main-color);

  #headerHomeLogo {
    width: 12vw;
  }

  #busca {
    width: 22vw;
    height: 5vh;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;

    border: 1px solid white;
    border-radius: 100px;

    padding-inline: 1vw;
    margin-left: 3vw;

    img {
      width: 1.2vw;
      cursor: pointer;
    }
  }

  #txtBusca {
    border: none;
    height: 3vh;
    width: 20vw;
    background-color: var(--main-color);

    font-family: white;
    font-size: 1.2vw;
    color: white;
    font-size: 1.2vw;
    outline: none;

    &::placeholder {
      font-size: 1.2vw;
      font-family: var(--main-font);
      color: white;
    }
  }
}

#navbarVermelho {
  ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    list-style: none;

    margin-left: 40vw;
    gap: 2vw;

    li {
      height: 4vh;
      .link {
        text-decoration: none;
        height: 13vh;
        font-family: var(--main-font);
        color: white;
      }
      &:hover {
        border-bottom: 2px solid white;
      }
      img {
        width: 1.4vw;
      }
    }

    button {
      cursor: pointer;
      width: 8vw;
      height: 6vh;

      background-color: white;

      border: none;
      border-radius: 50px;

      color: var(--main-color);
      font-family: 'Poppins', sans-serif;
      font-weight: 700;
      font-size: 0.9vw;

      transition: 0.7s;

      &:hover {
        transition: 0.7s;
        background-color: var(--main-color);
        color: white;
        border: 1px solid white;
      }
    }
  }
}
