.ingressos{
  width: 100vw;  
  height: 50vh;
  }

  .ingressos h1{
    color: var(--navbar);
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.2vw;
    text-align: left;
    margin: 3vh 0vw 0vh 12vw;
  }

.swipper-nav-btns button{
  cursor: pointer;
  width: 3vw;
  height: 6vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: var(--main-color);
  border: 1px solid var(--main-color);
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 2vw;
  border-radius: 50px;
  transition: 0.7s;
}

.swipper-nav-btns button:hover{
  filter: brightness(0.95)
}

.lista{
  display: flex;
  flex-direction: row;
  height: 30vh;  
  width: 100vw;
  justify-content: center;
  align-items: center;
  gap: 3vw;
}

.lista .item {
  display: flex;
  flex-direction: row;
  width: 38vw;
  height: 15vh;
  gap: 2vw;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--main-color);
  border-radius: 30px;
}

.item img { 
  width: calc(1.777777*14vh);
  height: 14vh;
  border-radius: 30px;
}

.item .info{
  display: flex;
  flex-direction: column;
}

.item .info p {
  text-align: left;
}

.item .topInfo{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2vw;
  padding-top: 3vh;
}

.item .topInfo h2 {
  color: var(--main-color);
  font-family: var(--main-font);
  font-size: 1.3vw;
}

.item .topInfo h3 {
  color: var(--main-color);
  font-family: var(--main-font);
  font-size: 0.9vw;
}

.item .info h4 {
  color: var(--navbar);
  font-family: var(--main-font);
  font-size: 1.1vw;
}

.item .info p{
   color: var(--navbar);
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1vw;
}

.item button{
  cursor: pointer;
  width: 7vw;
  height: 8vh;
  background-color: var(--main-color);
  color: white;
  border: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 0.9vw;
  border-radius: 50px;
  transition: 0.7s;
}


.item button:hover{
  transition: 0.7s;
  background-color: white;
  color: var(--main-color);
  border: 1px solid var(--main-color)
}
