.textfield{
    display: flex;
    flex-direction: column;
    gap: 1vh;
    user-select: none;
    .input{
        display: flex; 
        align-items: center;
        justify-content: left;
        gap: 1vw;

        border-bottom: 1px solid var(--main-color);

        height: 5vh;
        padding: 1rem;
        .icone{
            color: var(--main-color);
            font-size: 1.1rem;
        }

        input{
            outline: none;
            border: none;
            width: fill;
        }
    }
}
