@import '../../index.scss';

.Categorias{
  width: 100vw;
  height: 45vh;

  display: flex;
  flex-direction: column;
  justify-content: left;

  padding-block: 3vh;
  padding-inline: 0vw;

  background-color: var(--main-color);

  .tituloHome{
    width: 33vw;
    height: 6vh;

    color: var(--main-color);
    font-family: var(--main-font);
    font-weight: bold;
    font-size: 1.4vw;
    text-align: left;

    margin-bottom: 7vh;
    margin-top: 3vh;

    padding-block: 1vh;
    padding-left: 3vw;

    background-color: white;
    border-right: 1px solid white;
    border-radius: 100px;

    position: absolute;
    left: -2vw;
  }

  ul{
    @include flexCenter(row);
    list-style: none;
    gap: 4vw;
    padding-inline: 3vw;

    li{
      width: 7vw;
      height: 10vh;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: left;

      font-family: var(--main-font);
      color: white;
      font-size: 0.7vw;

      gap: 2vh;
      text-align: center;
      margin-top: 18vh;
      
      transition: 1s;
      cursor: pointer;

      img{
        width: 7vw;
      }

      &:hover{
        transition: 0.5s;
        transform: scale(1.05)
      }
    }
  }
}