.Categorias{
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 100vw;
  height: 45vh;
  padding-block: 3vh;
  padding-inline: 0vw;
  background-color: var(--main-color);
}

.tituloHome{
  color: var(--main-color);
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 1.4vw;
  text-align: left;
  margin-bottom: 7vh;
  margin-top: 3vh;
  padding-block: 1vh;
  padding-left: 3vw;
  width: 33vw;
  height: 6vh;
  background-color: white;
  border-right: 1px solid white;
  border-radius: 100px;
  position: absolute;
  left: -2vw;
}

.Categorias ul{
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 4vw;
  padding-inline: 3vw;

}

.Categorias ul li{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  font-family: var(--main-font);
  color: white;
  font-size: 0.7vw;
  gap: 2vh;
  transition: 1s;
  cursor: pointer;
  width: 7vw;
  text-align: center;
  height: 10vh;
  margin-top: 18vh;
}

.Categorias ul li img{
  width: 7vw;
}

.Categorias ul li:hover{
  transition: 0.5s;
  transform: scale(1.05)
}