#logo{ 
    cursor: pointer;
    max-width: 10rem;
}

@media only screen and (max-width: 950px){
    
}


@media only screen and (max-width: 600px) {
    #logo{ 
        margin-bottom: 0.5rem; 
    }
}