.textfield-info {
    display: flex;
    flex-direction: column;
    justify-content: left;

    .textfield-row {
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
        gap: 1rem;
        
        
        .icone-info{
            cursor: pointer;
        }

        input { 
            height: 3rem;
            width: 25rem;
            padding-left: 1rem;
            background-color: var(--background-input);
            border: none;
            outline: none;

            cursor: not-allowed;
        }   
    }
}

.modal-edit {
    max-width: 35rem;
    padding-bottom: 2rem;
    .sair {
        top: 8%;
    }

    .input-edit { 
        margin-top: 0.5rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 2.7rem;
        width: 31rem;
        border: 1px solid var(--border-color);
        padding-inline: 1rem;
        outline: none;
        input{
        width: fill;
        border: none;
        outline: none;   
        }
        .icone{
            color: var(--main-color);
            font-size: 1.1rem;
        }
    }  

    .titulo-edit {
        font-size: 1.6rem;
        color: var(--navbar);
    }

    .botoes-edit {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 1vw;
        margin-top: 1rem;
        button{
            font-size: 0.8rem;
            padding: 1rem;
        }
        span {
            cursor: pointer;
            color: var(--main-color);
        }
    }   
}