@import '../../index.scss';

.container {
  width: 100vw;
  padding-block: 10vh;
  
  @include flexCenter(row);
  
  .verDetalhes-card {
    background-color: white;
    border-inline: 1px solid var(--main-color);
    width: 70vw;
    padding-inline: 3vw; 
    box-shadow: 1px 1px 1px 1px var(box-shadow);
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: center;
    gap: 0vw;

    .row{
      display: flex;
      flex-direction: row;
      align-items: top; 
      justify-content: left;
      gap: 1vw;
      margin-top: 2vh;
    }
    .column:first-of-type{
      border-right: 2px dashed var(--main-color);
          padding-right: 2vw;
      padding-top: 4vh;

    }
    .column:last-of-type{
      width: 24vw;
      padding-left: 1.8vw;
    }

    .column {
      display: flex;
      flex-direction: column;
      align-items: left;
      justify-content: top;
      margin-block: -4vh; 
      border-block: 1px solid var(--main-color);
      
      padding-top: 6vh;

      .dicas{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 5vh;
        width: 23vw;
        p{
          margin-top: 5vh;
          font-size: 0.9vw;
          margin-bottom: 4vh;
          b{
          color: var(--main-color);
          cursor: pointer;
          
          &:hover{
            color: var(--dark-main);
          }
        }
        }

        ul{
          display: flex;
          flex-direction: column;
          width: 23vw;
          margin-top: 3vh;
          padding-left: 1vw;
          list-style: none;
          gap: 5vh;
          
          li{
            width: 23w;
            font-family: var(--main-font);
            color: var(--navbar);
            font-size: 0.9vw;
            b{
              color: var(--main-color);
              margin-right: 0.5vw;
            }
          }
          img{ 
            margin-right: 1vw;
            width: 1.8vw;
            margin-bottom: -1vh;
          }
        }
        h1{
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          gap:0.4vw;
          font-size: 1.2vw;
        img{
          width: 2.3vw;
        }
        }
      }
      
      #data{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      position: absolute;
      margin-left: 26vw;
      margin-top: -4vh;

      font-size: 1.1vw;
      font-family: var(--main-font);
      color: white;
      background-color: var(--main-color);

      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
      width: 13vw;
      height: 6vh;
      gap: 1vw;
      box-shadow: 3px 3px 1px 1px #e82c4f49;
      span:first-of-type{
        border-right: 1px solid white;
        padding-right: 1vw;
      }
      } 

      h2:first-of-type{
        margin-bottom: 3vh;
      }

      h2 {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
          Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
          sans-serif;
        color: var(--navbar);
        
        font-weight: 500;
        font-size: 1vw;
        margin-bottom: 3vh;
      }

    
      h1 {
        color: var(--navbar);
        font-family: var(--main-font);
        font-size: 2vw;
        text-align: left;
        margin-bottom: 1vh;
      }
      h3 {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
          Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
          sans-serif;
        color: var(--navbar);
        font-weight: 100;
        font-size: 0.9vw;
        margin-bottom: 4vh;
      }
      #evento {
        width: 39vw;
        height: calc(0.5625 * 39vw);
        margin-bottom: 4vh;
        margin-top: 0vh;
      }
      h5{
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
          Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
          sans-serif;
        color: var(--navbar);
        font-weight: 500;
        font-size: 1.2vw;
        margin-bottom: 3vh;

      }

      .subtitulo{
        font-size: 1.6vw;
      }

      .descricao{
        border-bottom: 1px solid var(--main-color);
      }

      .localizacao{
        display: flex;
        flex-direction: column;

        margin-top: 3vh;
        margin-bottom: 2vh;
        gap: 5vh;
      
        
        .detalhes{
        display: flex; 
        flex-direction: row;
        align-items: center;
        justify-content: center;  

        margin-bottom: 3vh;
        margin-top: -3vh;
        width: 34vw;

   

        .detalhe{
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: auto;
          gap: 1vh;
          border-right: 1px solid var(--main-color);
          padding-inline: 2vw;
          label{
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
            Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
            sans-serif;
            color: var(--navbar);
            font-weight: 800;
            font-size: 1vw;
          }
          h5{
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
            Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
            sans-serif;
            color: var(--navbar);
            font-weight: 500;
            font-size: 0.9vw;
            margin-bottom: 0vh;
            }
        }
      }

      }
      
      .preco {
        background-color: var(--main-color);
        color: white;
        width: 13vw;
        height: 9vh;
        display: flex;
        align-items: center;
        justify-content: right;
        padding-right: 3vw;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
        margin-left: -2.5vw;
        margin-bottom: 6vh;
        box-shadow: 3px 3px 1px 1px #e82c4f49;
        h4 {
          font-size: 1.6vw;
          font-family: var(--main-font);

          font-weight: 500;
        }
      }
      .detalhes{
        display: flex; 
        flex-direction: row;
        align-items: center;
        justify-content: center;  

        margin-bottom: 3vh;
        margin-top: -3vh;
        width: 24vw;

   

        .detalhe{
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 8vw;
          justify-content: center;
          gap: 1vh;
          border-right: 1px solid var(--main-color);
          padding-block: 2vh;
          padding-inline: 0.5vw;
          label{
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
            Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
            sans-serif;
            color: var(--navbar);
            font-weight: 800;
            font-size: 1vw;
          }
          h5{
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
            Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
            sans-serif;
            color: var(--navbar);
            font-weight: 500;
            font-size: 0.9vw;
            margin-bottom: 0vh;
            }
        }
      }

      .botoes{
        display: flex;
        flex-direction: row;
        gap: 2vw;
        margin-top: 3vh;
        margin-bottom: 5vh;
        margin-left: 2vw;
        .botao{
          width: 16vw;
          height: 6vh;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;

          background-color: var(--main-color);

          color: white;
          font-family: 'Poppins', sans-serif;
          font-weight: 700;
          font-size: 1vw;

          border: none;
          border-radius: 50px;

          transition: 0.3s;
          cursor: pointer;
          gap: 0.5vw;

          img {
            width: 1.6vw;
          }

          &:hover {
            background-color: var(--dark-main);
            transition: 0.3s;
          }
          
        }

      }

      .usuario {
        width: 23vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-bottom: 0vh;
        border-bottom: 1px solid var(--main-color);

        h2{
          font-size: 1vw;
        }

        h1 {
          font-size: 1.6vw;
          margin-top: 3vh;  
        }
        #user {
          width: 5vw;
          height: 5vw;
          border-radius: 100%;
          margin-top: -1vh;
        }
        .since{
          font-size: 1vw;
          margin-bottom: 6vh;
        }

        label {
          display: flex;
          flex-direction: row;
          align-items: center;
          font-size: 1.2vw;
          font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
            Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
            sans-serif;
          font-weight: 500;
          justify-content: center;
          margin-bottom: 1vh;
          .vetores {
            width: 1.9vw;
            height: auto;
            margin-bottom: 0.5vw;
            margin-right: 0vw;
          }
        }

        label#email{
          margin-top: -3vh;
          margin-bottom: 7vh;
          font-size: 1.2vw;
          .vetores {
            width: 1.7vw;
            height: auto;
            margin-bottom: 0.5vw;
            margin-right: 0.5vw;
          }
        }

        label#telefone{
          font-size: 1.2vw;
        }

        .avaliacao{
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          gap: 1vw;
          margin-bottom: 3vh;
          h2{
            font-size: 1vw;
            margin-bottom: 0;
          }
        
        #estrelas{
          width: 8vw;
          height: auto
        }
      }

        #chat {
          width: 18vw;
          height: 6vh;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;

          background-color: var(--main-color);

          color: white;
          font-family: 'Poppins', sans-serif;
          font-weight: 700;
          font-size: 1vw;

          border: none;
          border-radius: 50px;

          transition: 0.3s;
          cursor: pointer;
          gap: 0.5vw;

          img {
            width: 1.6vw;
          }

          &:hover {
            background-color: var(--dark-main);
            transition: 0.3s;
          }
        }
        p{
          font-size: 1vw;
          margin-bottom: 4vh;
          color: var(--main-color);
          cursor: pointer;
          &:hover{
            color: var(--dark-main);
          }
        }

        #lista {
          width: 18vw;
          height: 6vh;
          margin-top: 2vh;
          margin-bottom: 8vh;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;

          background-color: var(--main-color);

          color: white;
          font-family: 'Poppins', sans-serif;
          font-weight: 700;
          font-size: 1vw;

          border: none;
          border-radius: 50px;

          transition: 0.3s;
          cursor: pointer;
          gap: 0.5vw;

          img {
            width: 1.6vw;
          }

          &:hover {
            background-color: var(--dark-main);
            transition: 0.3s;
          }
        }
      }
    }
  }
}
