footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


  .rodape {
    height: 70vh;

    background-color: var(--main-color);

    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: center;

    padding-top: 10vh;
    gap: 5vw;
  }

  ul {
    list-style: none;
    h3 {
      color: white;
      font-size: 1rem;
      font-family: var(--main-font);
      text-align: left;

      margin-bottom: 6vh;
    }

    li {
      color: white;
      font-size: 0.9rem;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      text-align: left;

      margin-block: 3vh;
      cursor: pointer;
      transition: 0.2s;
      &:hover{
        filter: brightness(0.90);
        transition: 0.2s;
      }
      img{
        width: 2vw;
        margin-left: 3vw;
        transition: 0.2s;
        &:hover{
          filter: brightness(0.90);
          transition: 0.2s;
        }
      }
    }
  }

  .sobre {
    width: 80vw;
    height: 28vh;

    border-bottom: 1px solid rgba(163, 162, 162, 0.192);
    padding-block: 5vh;

    h2 {
      font-family: var(--main-font);
      color: var(--navbar);
      font-size: 1.2rem;
    }

    p {
      width: 80vw;

      font-size: 0.9rem;
      color: var(--navbar);
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
        Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
        sans-serif;

      text-align: left;
      padding-top: 5vh;
    }
  }

  .direitos {
    width: 80vw;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;

    gap: 2vw;
    padding-top: 3vh;

    img {
      width: 5vw;
      height: 5vw;
    }

    p {
      width: 40vw;

      text-align: left;
      font-size: 0.9rem;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

      padding-top: 5vh;
    }
  }

  .redes-sociais {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    gap: 3vh;
  }
}
