#navbar {
   padding-block: 1rem;
}

.logado-nav {
   display: flex;
   flex-direction: row;
   gap: 3rem;
   align-items: center;
   justify-content: center;
}

@media only screen and (max-width: 950px){
 
}


@media only screen and (max-width: 600px) {
   .navItens{
      display: flex;
      position: absolute;
      right:0;
      top: 2rem;
   }
   
}