.confirm-titulo {
    font-size: 1.8rem;
    font-weight: 800;
    color: var(--main-color);
}

.confirm-img{
    width: 17rem;
}



.confirm-body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}