@import url('../../../index.scss');

.modal-confirmation {
    max-width: 30rem;
    padding-bottom: 2rem;
    z-index: 10000000;
    animation: pop-up 0.3s alternate;
    .sair {
        top: 8%;
    }

    .input-edit { 
        margin-top: 0.5rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 2.7rem;
        width: 31rem;
        border: 1px solid var(--border-color);
        padding-inline: 1rem;
        outline: none;
        input{
        width: fill;
        border: none;
        outline: none;   
        }
        .icone{
            color: var(--main-color);
            font-size: 1.1rem;
        }
    }  

    .titulo-confirmation {
        font-size: 1.6rem;
        color: var(--navbar);
    }

    .confirm-botao-swal {
     
            cursor: pointer;
            width: 10em;
            height: 3em;
        
            background-color: var(--main-color);
            color: white;
        
            border: none;
            border-radius: 10px;
        
            font-family: var(--main-font);
            font-weight: 600;
            font-size: 0.8rem;
        
            transition: 0.7s;
        
            &:hover {
              transition: 0.7s;
              background-color: white;
              color: var(--main-color);
              border: 1px solid var(--main-color);
            }
          
    }

    .cancel-botao-swal {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 1vw;
        margin-top: 1rem;
        button{
            font-size: 0.8rem;
            padding: 1rem;
        }
        span {
            cursor: pointer;
            color: var(--main-color);
        }
}

    .botoes-edit {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 1vw;
        margin-top: 1rem;
        button{
            font-size: 0.8rem;
            padding: 1rem;
        }
        span {
            cursor: pointer;
            color: var(--main-color);
        }
    }   
}