.card-profile {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-top: 1px solid var(--border-color);
    padding: 2rem;

    .card-bottom {
        border-top: 1px solid var(--border-color);
        margin-top: 2rem;
        padding: 2rem 0 2rem 2rem;
        display: flex;
        flex-direction: row;

        .secao{
            padding-left: 5rem;

            .titulo-secao {
                font-size: 2rem;
                color: var(--main-color);
            }
        }
    }
    
}