@import '../../index.scss';

.cadIngressos-card {
  width: 100vw;
  padding-block: 2vh;
  @include flexCenter(column);

  h1 {
    font-size: 2vw;
    color: var(--navbar);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
      Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
      sans-serif;
    font-weight: 600;
    animation: pop-up 0.5s linear;
    margin-bottom: 5vh;
  }
  .card {
    width: 70vw;
    height: auto;

    flex-direction: row;
    justify-content: left;

    border: 1px solid var(--main-color);
    border-radius: 5px;
    box-shadow: 4px 4px 4px 4px rgba(211, 209, 209, 0.349);
    animation: pop-up 0.5s linear;

    .categorias {
      flex-direction: column;
      justify-content: left;

      h2 {
        width: 18vw;
        height: auto;

        position: relative;
        left: -0.05vw;

        padding-left: 2vw;
        padding-bottom: 4vh;
        padding-top: 3vh;

        border-right: 1px solid var(--main-color);

        font-size: 1.3vw;
        color: var(--navbar);
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
          Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
          sans-serif;
      }

      ul {
        display: flex;
        flex-direction: column;

        list-style: none;

        position: relative;
        left: -1px;

        li {
          display: flex;
          flex-direction: row;
          align-items: center;

          width: 18vw;
          padding-block: 2vh;

          color: var(--navbar);
          font-size: 1.1vw;
          font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
            Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
            sans-serif;

          border-top: 1px solid var(--main-color);
          border-left: 1px solid var(--main-color);
          border-right: 1px solid var(--main-color);

          padding-left: 2vw;
          cursor: pointer;
          transition: 0.2s;

          &:hover {
            background-color: #e82c4f2f;
            transition: 0.2s;
          }

          img {
            width: 1.4vw;
            margin-right: 1vw;
          }

          .seta {
            padding-left: 1vw;
            width: 2vw;

            color: var(--main-color);
            font-family: var(--main-font);
            font-size: 1.3vw;
          }
        }
        .selecionado {
          background-color: #e82c4f2f;
        }
      }
    }

    .outros-campos {
      width: 52vw;
      animation: pop-up 1s linear;
      display: flex;
      flex-direction: column;

      .row {
        width: 52vw;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: left;
        padding-right: 4vw;
        padding-left: 2vw;
        padding-top: 2vh;
        gap: 2vw;

        #submitIngresso {
          background-color: var(--main-color);
          color: white;
          font-family: var(--main-font);
          font-size: 1vw;
          border: none;
          border-radius: 100px;
          height: 8vh;
          width: 15vw;
          margin-left: 5vw;
          cursor: pointer;
          transition: 1s;
          outline: none;
          margin-top: 0vh;
        }
        #submitIngresso:hover {
          transition: 0.5s;
          background-color: var(--dark-main);
        }

        .textfield#tipo {
          margin-left: 10vw;

          select {
            height: 5vh;
            width: 15vw;
            border: 1px solid var(--main-color);
            outline: none;
          }
          #telefone {
            width: 15vw;
            padding-right: 5vw;
          }
        }

        .textfield#campoImagem {
          width: 24vw;
          display: flex;
          flex-direction: row;
          align-items: center;
          padding-top: 0;
          margin-top: 0;

          .upload-btn-wrapper {
            position: relative;
            display: inline-block;
            cursor: pointer;
          }

          .btn {
            width: calc(1.777777 * 15vh);
            height: 15vh;
            border: 1px dashed var(--main-color);
            padding: 0.5vw;
            border-radius: 4px;
            cursor: pointer;
          }

          #imagemCarregada {
            width: calc(1.777777 * height);
            height: 14vh;
            margin-left: 1vw;
            margin-bottom: 1vh;
            animation: pop-up 0.5s linear;
          }

          input[type='file'] {
            font-size: 20px;
            position: absolute;
            width: calc(1.777777 * 15vh);
            height: 15vh;
            left: 0;
            top: 0;
            opacity: 0;
            cursor: pointer;
          }

          .remover-imagem {
            width: 0.8vw;
            cursor: pointer;
            margin-bottom: 14vh;
            animation: pop-up 0.5s linear;
          }
        }

        .textfield {
          width: 20vw;

          display: flex;
          flex-direction: column;
          align-items: left;
          justify-content: left;

          gap: 1vh;
          padding-left: 1vw;

          font-family: Arial, Helvetica, sans-serif;

          p {
            text-align: center;
            font-size: 0.9vw;
            padding-left: 5.5vw;
            margin-top: 0vh;
            margin-bottom: 1.5vh;
          }
          .contador {
            font-size: 0.9vw;
            font-family: Arial, Helvetica, sans-serif;
            padding-left: 27vw;
          }

          label {
            color: var(--navbar);
            font-family: Arial, Helvetica, sans-serif;
            font-size: 1.1vw;
            font-weight: bold;

            margin-top: 0vh;
            margin-bottom: 0vh;
            margin-left: 0vw;
          }

          .input {
            width: 20vw;

            border-radius: 8px;
            border: 1px solid var(--main-color);
            padding: 5px;
            outline: none;

            color: var(--text-color);
            font-size: 1rem;

            &::placeholder {
              font-size: 1vw;
            }
          }

          .input#data {
            width: 10vw;
          }

          .input#preco {
            width: 10vw;
          }

          .input#descricao {
            width: 30vw;
            height: 15vh;
          }
        }
      }
    }
  }
}
