.item-lista {
    font-family: var(--main-font);
    font-weight: 500;
    height: 1.5rem;

    cursor: pointer;
    .link {
      text-decoration: none;
      font-family: var(--main-font);
      font-size: 0.9rem;
      font-weight: 600;
      color: var(--main-color);
    }
    
    &:hover {
      border-bottom: 2px solid var(--navbar);        
    } 
 
   img{
    max-width: 1.2rem;
   }
  }

  @media only screen and (max-width: 950px){
    .item-lista{
      max-width: 20vw;
    }
  }

  @media only screen and (max-width: 600px) {

  }